<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<button class="accordion">INPUTS<i class="more-less glyphicon glyphicon-plus"></i></button>
<div class="panel">


    <div id="inputform">
        <select v-model="selectedinput">
            <option disabled value="">Select input type</option>
            <option v-for="inputtype in inputs">
                {{ inputtype.text }}
            </option>
        </select>

        <h3>INPUT: {{ selectedinput }}</h3>

        <form id=input>
            <div v-for="field in fields">
                <div v-bind:style='"text-indent: " + field.margin + "em;"' v-if="field.type == 'boolean'">
                    {{ field.name }}: <input type="checkbox" v-bind:name="field.uniqid" v-model="output[field.uniqid]">
                </div>
                <div v-bind:style='"text-indent: " + field.margin + "em;"' v-else-if="field.type == 'number'">
                    {{ field.name }}: <input type="number" v-bind:name="field.uniqid" v-model="output[field.uniqid]">
                </div>
                <div v-bind:style='"text-indent: " + field.margin + "em;"' v-else-if="field.type == 'array'">
                    {{ field.name }}:
                    <button @click.prevent="addArrayEntry(field)">Add</button>
                    <div v-for="arrayEntry in field.elements"
                         v-bind:style='"text-indent: " + (field.margin + 2) + "em;"'>
                        <input type="text" v-bind:name="field.uniqid + '.' + arrayEntry.index" v-model="output[field.uniqid][arrayEntry.index]">
                    </div>
                </div>
                <div v-bind:style='"text-indent: " + field.margin + "em;"' v-else-if="field.type == 'object'">
                    {{ field.name }}:
                </div>
                <div v-bind:style='"text-indent: " + field.margin + "em;"' v-else>
                    {{ field.name }}: <input type="text" v-bind:name="field.uniqid" v-model="output[field.uniqid]">
                </div>
            </div>
            <button @click.prevent="generateConfig">Generate</button>
        </form>

  <pre>
    <code>
{{ configOutput }}
    </code>
  </pre>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src='myvue.js'></script>

</html>
