html {
    padding: 18px;
}

.header img {
    float: right;
    width: 200px;
    height: 100px;
    background: #555;
}

.header h1 {
    position: relative;
    text-align: center;
    top: 18px;
    left: 10px;
    height: 25%
}

.intro {
    text-align: center;
    border-radius: 8px;
    border: 1px solid gray;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #22D0D0;
    color: #444;
    cursor: pointer;
    padding: 9px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: medium;
    border-style: solid;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 18px 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-style: solid;
    border-color: #212121;
}

.dropdown {
    margin-bottom: 18px;
}

.add-button {
    margin-top: 18px;
}

.more-less {
    float: right;
    color: #212121;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.gen-button {
    margin-top: 20px;
    margin-left: 30%;
    width: 200px;
    height: 40px;
    font-size: medium;
    background: #D9B9B9;
}